menu "SENSING"
    config HARDWARE_STRING
        string "v1.0"
        default "v1.0"
    menu "Custom Configuration Options"
    config SENSOR_FAILURE_MAX_RETRIES
        int "Maximum number of retries"
        default 5
        help
            This option sets the maximum number of retry attempts.

    config RETRY_SLEEP_TIMER
        int "Retry sleep timer (in milliseconds)"
        default 10
        help
            This option sets the sleep timer duration between retries in milliseconds.

    config MAX_PATH_LEN
        int "Max File Path Length"
        default 29
        help
           This option sets the buffer length for paths in the file system.

    config DISABLE_UART_AND_JTAG_PROTECTIONS
        bool "Disable UART and JLINK protections after device has entered shipping mode"
        default n
        help
            This option will clear the set_uart calibration boolean and also clear write protection to the
            jlink header, DO NOT leave enabled in production.

    config PRIMARY_DEVICE
    bool "Build as primary device (connects to phone)"
    default y        

    endmenu    
        
    rsource "src/Kconfig"

endmenu

menu "Zephyr Kernel"
    source "Kconfig.zephyr"
endmenu
