/*
 * Copyright (c) 2024, Your Name
 * SPDX-License-Identifier: Apache-2.0
 */

 /dts-v1/;
 #include <nordic/nrf54l15_cpuapp.dtsi>
 #include "sensing-pinctrl.dtsi"
 
 / {
	 model = "Nordic nRF54L15 DK NRF54L15";
	 compatible = "nordic,nrf54l15-dk-nrf54l15";
 
	 chosen {
		 zephyr,flash-controller = &cpuapp_rram;
		 zephyr,code-partition = &slot0_partition;
		 zephyr,sram = &cpuapp_sram;
		 zephyr,flash = &cpuapp_rram;
		 nordic,pm-ext-flash = &mx25r64;
	 };

	 aliases {
		led0 = &myled0;
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		myled0: led_0 {
			gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
			 };
	};
 };



 &cpuapp_rram {
 	status = "okay";
 	partitions {
 		compatible = "fixed-partitions";
 		#address-cells = <1>;
 		#size-cells = <1>;

 		/* Bootloader (80KB) */
 		boot_partition: partition@0 {
 			label = "mcuboot";
 			reg = <0x00000 0x14000>;  /* 0x00000-0x13FFF */
			};

			/* Primary slot (512KB) */
			slot0_partition: partition@14000 {
				label = "image-0";
				reg = <0x14000 DT_SIZE_K(512)>;  /* 0x14000-0x93FFF */
			};

			/* Secondary slot (512KB) */
			slot1_partition: partition@94000 {
				label = "image-1";
				reg = <0x94000 DT_SIZE_K(512)>;  /* 0x94000-0x113FFF */
			};

			/* TF-M reserved (32KB) */
			/* 0x114000-0x11BFFF */

			/* Storage partition (36KB) */
			storage_partition: partition@11c000 {
				label = "storage";
				reg = <0x11c000 DT_SIZE_K(36)>;  /* 0x11C000-0x124FFF */
			};AC
		};
	};
 
 &cpuapp_sram {
	 status = "okay";
 };
 
 
 &lfxo {
	 load-capacitors = "internal";
	 load-capacitance-femtofarad = <15500>;
 };
 
 &hfxo {
	 load-capacitors = "internal";
	 load-capacitance-femtofarad = <15000>;
 };
 
 &regulators {
	 status = "okay";
 };
 
 &vregmain {
	 status = "okay";
	 regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
 };
 
 &grtc {
	 owned-channels = <0 1 2 3 4 5 6 7 8 9 10 11>;
	 /* Channels 7-11 reserved for Zero Latency IRQs, 3-4 for FLPR */
	 child-owned-channels = <3 4 7 8 9 10 11>;
	 status = "okay";
 };
 
 &uart20 {
	 status = "okay";
	 pinctrl-0 = <&uart20_default>;
	 pinctrl-1 = <&uart20_sleep>;
	 pinctrl-names = "default", "sleep";
	 current-speed = <115200>; /* Optional: set baudrate */
 };
 
 &gpio0 {
	 status = "okay";
 };
 
 &gpio1 {
	 status = "okay";
 };
 
 &gpio2 {
	 status = "okay";
 };
 
 &gpiote20 {
	 status = "okay";
 };
 
 &gpiote30 {
	 status = "okay";
 };
 
 &radio {
	 status = "okay";
 };
 
 &ieee802154 {
	 status = "okay";
 };
 
 &temp {
	 status = "okay";
 };
 
 &clock {
	 status = "okay";
 };

 &spi00 {
 	status = "okay";
 	cs-gpios = <&gpio2 5 GPIO_ACTIVE_LOW>;
 	pinctrl-0 = <&spi00_default>;
 	pinctrl-1 = <&spi00_sleep>;
 	pinctrl-names = "default", "sleep";

 	mx25r64: mx25r6435f@0 {
 		compatible = "jedec,spi-nor";
 		status = "okay";
 		reg = <0>;
 		spi-max-frequency = <8000000>;
 		jedec-id = [ c2 28 17  ];
 		sfdp-bfp = [ e5 20 f1 ff ff ff ff 03 44 eb 08 6b 08 3b 04 bb ee ff ff ff ff ff 00 ff ff ff 00 ff 0c 20 0f 52 10 d8 00 ff 23 72 f5 00 82 ed 04 cc 44 83 48 44 30 b0 30 b0 f7 c4 d5 5c 00 be 29 ff f0 d0 ff ff  ];
 		size = <67108864>;
 		has-dpd;
 		t-enter-dpd = <10000>;
 		t-exit-dpd = <35000>;
 		requires-ulbpr;
 		partitions {
 			compatible = "fixed-partitions";
 			#address-cells = <1>;
 			#size-cells = <1>;

 			/* Bootloader (80KB) - Same size as internal */
 			boot_partition_ext: partition@0 {
 				label = "mcuboot-ext";
 				reg = <0x00000 0x14000>;  /* 0x00000-0x13FFF */
				};

				/* Primary slot (512KB) - Same size as internal */
				slot0_partition_ext: partition@14000 {
					label = "image-0-ext";
					reg = <0x14000 DT_SIZE_K(512)>;  /* 0x14000-0x93FFF */
				};

				/* Secondary slot (512KB) - Same size as internal */
				slot1_partition_ext: partition@94000 {
					label = "image-1-ext";
					reg = <0x94000 DT_SIZE_K(512)>;  /* 0x94000-0x113FFF */
				};

				/* TF-M reserved (32KB) - Same size as internal */
				tfm_partition_ext: partition@114000 {
					label = "tfm-ext";
					reg = <0x114000 DT_SIZE_K(32)>;  /* 0x114000-0x11BFFF */
				};

				/* Storage partition (36KB) - Same size as internal */
				storage_partition_ext: partition@11c000 {
					label = "storage-ext";
					reg = <0x11c000 DT_SIZE_K(36)>;  /* 0x11C000-0x124FFF */
				};

				/* Additional space for external flash (remaining 7.2MB) */
				user_partition_ext: partition@125000 {
					label = "user-ext";
					reg = <0x125000 0x6DB000>;  /* 0x125000-0x7FFFFF (remaining space) */
				};
			};
 };
};


 
 
 /* ADC setup */
 &adc {
	 reg = <0xd5000 0x1000>;
	 status = "okay";
	 #address-cells = <1>;
	 #size-cells = <0>;
 
	 /* Channel 0 */
	 channel@0 {
		 reg = <0>;
		 zephyr,gain = "ADC_GAIN_1_6";
		 zephyr,reference = "ADC_REF_INTERNAL";
		 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		 zephyr,input-positive = <NRF_SAADC_AIN0>;
		 zephyr,resolution = <12>;
 
	 };
 
		 channel@1 {
			 reg = <1>;
			 zephyr,gain = "ADC_GAIN_1_6";
			 zephyr,reference = "ADC_REF_INTERNAL";
			 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			 zephyr,input-positive = <NRF_SAADC_AIN1>;
			 zephyr,resolution = <12>;
 
		 };
 
		 channel@2 {
			 reg = <2>;
			 zephyr,gain = "ADC_GAIN_1_6";
			 zephyr,reference = "ADC_REF_INTERNAL";
			 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			 zephyr,input-positive = <NRF_SAADC_AIN2>;
			 zephyr,resolution = <12>;
 
		 };
 
		 channel@3 {
			 reg = <3>;
			 zephyr,gain = "ADC_GAIN_1_6";
			 zephyr,reference = "ADC_REF_INTERNAL";
			 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			 zephyr,input-positive = <NRF_SAADC_AIN3>;
			 zephyr,resolution = <12>;
 
		 };
 
		 channel@4 {
			 reg = <4>;
			 zephyr,gain = "ADC_GAIN_1_6";
			 zephyr,reference = "ADC_REF_INTERNAL";
			 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			 zephyr,input-positive = <NRF_SAADC_AIN4>;
			 zephyr,resolution = <12>;
 
		 };
 
		 channel@5 {
			 reg = <5>;
			 zephyr,gain = "ADC_GAIN_1_6";
			 zephyr,reference = "ADC_REF_INTERNAL";
			 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			 zephyr,input-positive = <NRF_SAADC_AIN5>;
			 zephyr,resolution = <12>;
 
		 };
 
		 channel@6 {
			 reg = <6>;
			 zephyr,gain = "ADC_GAIN_1_6";
			 zephyr,reference = "ADC_REF_INTERNAL";
			 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			 zephyr,input-positive = <NRF_SAADC_AIN6>;
			 zephyr,resolution = <12>;
 
		 };
 
		 channel@7 {
			 reg = <7>;
			 zephyr,gain = "ADC_GAIN_1_6";
			 zephyr,reference = "ADC_REF_INTERNAL";
			 zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			 zephyr,input-positive = <NRF_SAADC_AIN7>;
			 zephyr,resolution = <12>;
 
		 };
	 };

	 / {
	 	fstab {
	 		compatible = "zephyr,fstab";
	 	littlefs_storage: lfs {
	 		compatible = "zephyr,fstab,littlefs";
	 		mount-point = "/lfs1";
	 		partition = <&mx25r64>;
	 		read-size = <16>;
	 		prog-size = <16>;
	 		cache-size = <64>;
	 		lookahead-size = <32>;
	 		block-cycles = <512>;
 		};
		};
	};