# Copyright (c) 2023 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_SENSING
	bool "Sensing board"
	select SOC_NRF54L15
	select SOC_SERIES_NRF54LX
    depends on SOC_FAMILY_NRF
