config FOOT_SENSOR_MODULE
	bool "Foot Sensor Module"
	select GPIO
	select NRFX_SAADC
	select NRFX_TIMER
	select NRFX_SAADC_CONFIG_CHANNEL_COUNT_ENABLE
	select NRFX_DPPI_ENABLED
	help
	  FOOT_SENSOR MODULE

if FOOT_SENSOR_MODULE

module = FOOT_SENSOR_MODULE
module-str = FOOT_SENSOR module
source "subsys/logging/Kconfig.template.log_config"

config NRFX_SAADC_CHANNEL_COUNT
	int
	default 8	

endif # FOOT_SENSOR_MODULE